<h1>Add a movie</h1>

<p>Add a movie here:</p>

<form action="/movies" method="post">
  <label for="title">Movie title</label>
  <input id="title" name="title" type="text">
  <label for="genre">Movie genre</label>
  <input id="genre" name="genre" type="text">
  <button type="submit" class="btn btn-success">Add Movie</button>
</form>
