<p>Add a new Review:</p>

<form action="/reviews" method="post">
  <label for="reviewer">User:</label>
  <input id="reviewer" name="reviewer" type="text">
  <label for="content">Review:</label>
  <input id="content" name="content" type="text">
  <button type="submit" class="btn btn-default">Add review</button>
</form>
